.profileContainer {
  display: flex;
}

.img-container {
  flex: 0 0 auto;
  width: 100px;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.profilePic {
  max-width: 100%;
  height: auto;
}

.infoContainer {
  flex: 1;
}

.clubsContainer {
  border-top: 1px solid #284b63;
  margin-top: 1rem;
  padding-top: 1rem;
}

.club-link:link {
  text-decoration: none;
  color: #284b63;
}
.club-link:visited {
  text-decoration: none;
  color: #284b63;
}
.club-link:hover {
  text-decoration: none;
  color: #3c6e71;
}
.club-link:active {
  text-decoration: none;
  color: #3c6e71;
}

.profile-edit-btn {
  float: right;
}
