.books {
    margin: 2rem;
    
}

.bookContainer {
    background-color: blanchedalmond;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
    margin-bottom: 1rem;

}

.bookCover {
    width: 5rem;
}