.books {
  margin: 10rem 5rem 0 5rem;
}

.bookContainer {
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px;
  margin-bottom: 1rem;
  display: flex;
}

.bookCover {
  width: 5rem;
  margin-top: 1rem;
}

.synopsis {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #284b63;
}

.delete-btn {
  background-color: rgb(250, 212, 218);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
}

.search-container {
  margin-bottom: 1rem;
  width: 50rem;
}
