.members {
  margin: 2rem;
}

.member {
  background-color: blanchedalmond;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
}

.infoContainer {
  margin: 1rem;
}

.profilePic {
  width: 5rem;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
}
