.members {
    
    margin: 1rem;
}

.member {
    background-color: blanchedalmond;
    box-shadow: 1px 1px 5px;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-around;
    display: flex;
    margin: 1rem;
    width: 350px;
    
}

.profilePic {
    width: 5rem;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
   
}

.infoContainer {
    margin: 1rem;
}