.chapterCommentsContainer {
  width: 95%;
  margin: 7rem auto 0 auto;
}

.bookClubInfo {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.75rem;
  width: 70%;
  margin: auto;
  text-align: center;
  color: #d9d9d9;
  /* line-height: 0.5rem; */
}

.commentsContainer {
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  margin: 1rem;
  padding: 1rem;
  background-color: #d9d9d9;
}

.commentForm {
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #d9d9d9;
}

.card {
  border-top: 1px solid #284b63;
  padding-bottom: 1rem;
}
