.clubs {
  margin: 10rem 5rem 0 5rem;
}

.club {
  background-color: #d9d9d9;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.bookCover {
  width: 5rem;
}

.clubMemberContainer {
  border-top: 1px solid #284b63;
  margin-top: 1rem;
  padding-top: 1rem;
}

.btn {
  background-color: rgb(229, 237, 234);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
}

.bookInfoContainer {
  display: flex;
  background-color: #d9d9d9;
}

.edit-button-container {
  text-align: right;
}

.edit-button {
  background-color: rgb(229, 237, 234);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  margin-left: 1rem;
}
.delete-button {
  background-color: rgb(247, 218, 223);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  margin-left: 1rem;
}
