.bookClubContainer {
  box-shadow: 1px 1px 5px;
  margin: 10rem 5rem 0 5rem;
  padding: 1rem;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.bookClub {
  display: flex;
  /* border-bottom: 1px solid #284b63; */
  padding-bottom: 1rem;
}

.bookInfo {
  padding: 1rem;
}

.bookCover {
  box-shadow: 1px 1px black;
}

.clubMembers {
  padding-bottom: 1rem;
}

.chapterContainer {
  border-top: 1px solid #284b63;
}

.chapter_link:link {
  text-decoration: none;
  color: #284b63;
}
.chapter_link:visited {
  text-decoration: none;
  color: #284b63;
}
.chapter_link:hover {
  text-decoration: none;
  color: #3c6e71;
}
.chapter_link:active {
  text-decoration: none;
  color: #3c6e71;
}
